@model Shopping.Models.OTable

@{
    ViewBag.Title = "Saurabh";
}

<h2>Details</h2>

<div>
    <h4>OTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerTable.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerTable.CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTable1.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTable1.PName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
